<h1 class='sakebi'> お前の心の叫び！！ 確かに届いたぜ！！！</h1>

<div class='mouikkaisakebu'>
  <%= link_to "もう一回叫ぶかい？？", "/top/new", metod: :get %>
</div>
<div class='imamadenosakebi'>
  <%= link_to "今までの叫びを見るかい？？", "/top", method: :get %>
</div>